
#flexbox{
    display: flex;
}
#baner{
    background-color: #18FFA4;
    height: 50px;
}
#lewy{
    background-color: #AEFFCF;
    height: 550px;
    width: 30%;
}
#srodkowy{
    background-color: #DDFFCD;
    height: 550px;
    width: 40%;
}
#prawy{
    background-color: #AEFFCF;
    height: 550px;
    width: 30%;
}
#stopka{
    background-color: #18FFA4;
    height: 50px;
    text-align: center;
}
ul, li{
    margin-left: 100px; 
}
img{
    margin: 100px;
}
form{
    margin-left: 150px;
}
h4{
    margin-left: 100px; 
}
h2, h3{
    text-align: center;
}
 p {
	margin: 0;
}